# Visual Studio Code
.vscode/
.history/
*.code-workspace

# Files created during build
images/interactive/dotnet-spark/HelloSpark/
images/interactive/dotnet-spark/bin/
images/runtime/dotnet-spark/HelloSpark/
images/runtime/dotnet-spark/bin/